# --- Diretórios de Build e Compilação ---
target/
bin/
out/
build/

# --- Arquivos Compilados e Empacotados ---
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- Arquivos de Logs e Cache ---
*.log
# Logs de erro quando a JVM trava (Crash logs)
hs_err_pid*

# --- Arquivos de IDEs ---
# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# --- Arquivos de Sistema Operacional (Lixo) ---
# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~